node_modules/
frontend/node_modules/
frontend/.env
backend/node_modules/
backend/public/
backend/uploadsCSV/
backend/uploadstmp/
backend/uploadsXLSX/
backend/utilityOutput/
backend/.env/
backend/utility/MagentoImportJson/downloads/CustomerOrders
backend/utility/MagentoImportJson/rawFetchedOrders
backend/utility/MagentoImportJson/readyFetchedOrders
backend/utility/ioFiles
_test/
frontend/build/
backend/dist/

