.home {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 15px;
}

.listwindow {
    width: 100%;
}

.scrollable {
    overflow-y: auto;
    flex-grow: 1;
    overflow-x: auto; /* Hide horizontal overflow */
}

.rowHeader {
    display: grid;
    color:#020202;
    grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
    gap: 4px;
    padding: 2px;
}

.rowList {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
    gap: 4px;
    padding: 2px;
    font-size: 12px; /* Example font size, adjust as needed */

}

.header {
    font-weight: bold;
    background-color: #c4e0eab9;
    border-bottom: 2px solid #ccc;
    margin-bottom: 10px;
}

.rowList div {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.rowList a {
    color: blue;
    text-decoration: none;
}

.rowList a:hover {
    text-decoration: underline;
}

.styled-image {
    width: 200px; /* Set the width */
    height: auto; /* Maintain the aspect ratio */
    border-radius: 10px; /* Apply rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow */
}