.mainWindow {
  display: flex;
  height: 100vh; /* Full height of viewport */
  background-color: rgb(180, 176, 103);
  border-style: groove;
  border-color: blue;
}

.topBox {
  overflow-y: auto; /* Enable vertical scrollbar if needed */
  padding: 10px; /* Example padding */
}

.rightWindow {
  flex: 1; /* Equal width for both windows */
  border-color: 1px solid #8a1f1f; /* Example border */
}

.leftWindow {
  overflow-y: auto; /* Enable vertical scrollbar if needed */
  padding: 10px; /* Example padding */
}

.detailWindow {
  overflow-y: auto; /* Enable vertical scrollbar if needed */
  padding: 10px; /* Example padding */
}


