.logo {
  animation: myAnim .2s ease 0s 1 normal forwards;
}

/* Define the keyframes for the animation */
@keyframes myAnim {
	0% {
		transform: scale(0.2);
	}

	100% {
		transform: scale(1);
	}
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header styling */
/* This is used for the logo*/
.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: oblique;
  padding: 10px;
  /*border-bottom: 1px solid rgb(150, 150, 237); /* Example border */
  animation: myAnim .2s ease 0s 1 normal forwards;
  background: linear-gradient(0deg, #154070 13%, #0A1D33 72%);
}

.rowHeader div {
  flex: 1;
  text-align: center;
}

.header img {
  animation: myAnim .2s ease 0s 1 normal forwards;
  
}

.rowHeader {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #f1f1f1;
  font-weight: bold;
  
}

.headerScreenTitle {
grid-area: header;
  display: flex;
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: #ffffff; 
  align-items: center;
  justify-content: right;
  padding: 5px;
}


/* Default styles for larger screens */
.mainScreen {
  font-family: Arial, sans-serif;
  width: 100%;
  height: 15%;
  background-color: rgb(251, 252, 253);
  border-style: groove;
  border-color: rgb(150, 150, 237);
  height: 100vh;
}

/* Styling for the row header to make it look like spreadsheet headers */

/* Content area styling */
.content {
  grid-area: content;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 2px;
}

.contentUtility .contentLeft, .contentRight {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.contentUtility {
  grid-area: content;
  width: 7%;
  flex-direction: column;
  justify-content: left;
  padding: 1px;
  height: 100vh; /* or another height value */
}

.contentLeft {
  grid-area: content;
  width: 50%;
  flex-direction: column;
  padding: 1px;
  background-image: url('http://192.168.101.48:3000/pics/DaGang.jpeg');
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
}

.contentLeft img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio and fill container */
}

.contentRight {
  grid-area: content;
  width: 20%;
  flex-direction: column;
  padding: 1px;
}

/* Scrollable container for the list of items */
.scrollable {
  overflow-y: auto;
  padding: 10px;
  opacity: .8; /* Adjust the opacity level as needed */
  height: calc(70vh - 100px); /* Adjust based on the height of header/footer */
}

.menuField {
  font-family: sans-serif, Helvetica;
  display: flex;
  justify-content: space-around;
  padding: 5px;
  font-size: 14px;
  background-color: #6daef86c;
  border-style: groove;
  border-color: #afc6e0e1;
  border-width: thin;
}

.menuField div {
  display: flex;
  flex: 1;
  text-align: left;
  /*border-bottom: 3px solid #919192;*/
}

/* Styling for each row in the list */
.rowList {
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: Arial, sans-serif;
  color:#1d1d1d;
  font-size: 8px;
  display: flex;
  padding: 3px;
}

.rowList:active {
  background-color: #e0e0e0;
}

.rowList div {
  flex: 1;
  font-size: 12px;
  text-align: left;
  border-bottom: 1px solid #cfced1;
}

.rowList.selected {
  flex: 1;
  font-size: 12px;
  background-color: #a1a0aa;
  text-align: left;
  border-bottom: 2px solid #a1a0aa;
}

.rowsPerPage-dropdown {
  flex: 1;
  font-size: 12px;
  text-align: left;
}

/* Footer styling */
.footer {
  grid-area: footer;
  padding: 10px;
  background-color: rgb(227, 222, 130);
  border-top: 1px solid rgb(150, 150, 237);
  text-align: center;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .mainScreen {
    grid-template-areas:
      'header'
      'content'
      'leftSidebar'
      'rightSidebar'
      'footer';
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto auto auto;
  }
}

.pagination-container {
  display: flex;
  align-items: left;
  justify-content: left;
  margin-top: 10px;
}

.pagination-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 6px 15px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.pagination-button:hover {
  background-color: #0056b3;
}

.pagination-input {
  width: 50px;
  text-align: left;
  padding: 6px;
  margin: 0 5px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.container {
  position: relative;
  width: 300px; /* Container width */
  height: 300px; /* Container height */
  overflow: hidden;
}

.container img {
  width: 90%;
  height: 90%;
}

.magnifier {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  width: 100px; /* Lens size */
  height: 100px;
  display: none; /* Hide the lens initially */
  background-repeat: no-repeat;
  transform: scale(1.6); /* Magnify scale factor */
  transform-origin: center;
  background-size: 300%;
  pointer-events: none; /* Ensures the magnifier doesn't interfere with mouse events */
}

.refresh-button {
  margin-left: 10px;
  position: relative;
}

.hover-text {
  position: absolute;
  background-color: #f1f1f1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  top: 30px
}

.search-container {
  align-items: center;
  position: relative;
  display: inline-block;
}
